@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic-ext");
/* Base styles
-------------------------------------------------- */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  position: relative;
  font-size: 1rem;
  min-height: 100%;
  min-width: 320px; }

body {
  margin-bottom: 3rem;
  /* Margin bottom by footer height */
  background: #fcfbf7; }

a {
  text-decoration: underline; }

a:hover {
  cursor: pointer;
  text-decoration: none; }

input.form-control, select.form-control, textarea.form-control {
  border-radius: 0; }

input.error, select.error, textarea.error {
  border: 1px solid #a80200; }

label.error {
  color: #a80200; }

.btn-default {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem; }

.btn-default span {
  font-size: 1.5rem;
  position: relative;
  top: 3px;
  padding-left: 5px; }

.btn-default:hover {
  background: #fcfcf4;
  border-color: #777; }

.loader {
  display: inline-block;
  border: 5px solid #fcfcf4;
  border-top: 5px solid #373737;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; }

.loader-wrapper {
  text-align: center;
  margin: 7rem 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.forbidden {
  text-align: center; }

.forbidden .icon {
  font-size: 5rem; }

.blur-text {
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
  color: transparent; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-r-1 {
  margin-right: 1rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-t-05 {
  margin-top: 0.5rem; }

.m-t-1 {
  margin-top: 1rem; }

.m-t-2 {
  margin-top: 2rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-l-05 {
  margin-left: 0.5rem; }

/* Header styles
-------------------------------------------------- */
header {
  /* Tablets */
  /* Desktop */
  /* Desktop and larger */ }

header .header-wrapper {
  background: #202124; }

header .logo a {
  display: inline-block;
  margin: 6px 0;
  padding: 10px 0 0 50px;
  width: 7rem;
  height: 40px;
  background: url("../img/logo-gray.svg") no-repeat;
  text-decoration: none;
  color: #edebdc;
  font-size: 1.1rem; }

header .logo a:hover {
  color: #fff; }

header .hamburger {
  font-size: 35px;
  position: absolute;
  top: 0;
  right: 1.5rem;
  color: #fff;
  cursor: pointer; }

header .hamburger.closeBtn span:before {
  content: "\f2d7"; }

header .registration, header .login {
  padding: 6px 12px;
  line-height: 1.5rem; }

@media only screen and (min-width: 768px) {
  header .logo {
    float: left;
    text-align: left; }
  header .logo a {
    margin-left: 1.5rem; } }

@media only screen and (min-width: 992px) {
  header .header-wrapper {
    height: 6rem;
    padding-top: 1rem; }
  header .logo a {
    width: 10rem;
    height: 55px;
    padding: 13px 0 0 73px;
    font-size: 1.5rem; } }

/* Welcome-section styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  /* Set the fixed height of the footer here */
  background-color: #fcfcf4;
  /* SmartPhones */
  /* Tablets */
  /* Desktop and larger */ }

.footer .copyright {
  float: right;
  line-height: 3rem;
  font-weight: bold; }

.footer .copyright .glyphicon-copyright-mark {
  font-size: 0.7rem; }

/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  /* Tablets */
  /* Desktop and larger */ }

nav.navigation ul {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none; }

nav.navigation ul li {
  margin: 10px 10px 7px;
  font-size: 1rem; }

nav.navigation ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 0;
  border-bottom: 1px solid #777; }

nav.navigation ul li a:hover {
  border-bottom-color: #b6b6b6; }

nav.navigation ul li .help-btn {
  font-size: 1.5rem; }

nav.navigation ul li .btn {
  font-size: 1rem; }

nav.navigation ul li .btn.btn-success {
  background-color: #559797;
  border-color: #559797; }

nav.navigation ul li .btn.btn-success:hover {
  background-color: #74BDC1;
  border-color: #74BDC1; }

nav.navigation ul li .btn.btn-default {
  color: #b6b6b6;
  background-color: transparent;
  border-color: #777; }

nav.navigation ul li .btn.btn-default:hover {
  color: #fff;
  border-color: #b6b6b6; }

nav.navigation .user {
  position: relative;
  display: inline-block;
  color: #fff;
  padding-left: 5rem; }

nav.navigation .user .user-profile {
  display: inherit;
  cursor: pointer;
  color: #edebdc; }

nav.navigation .user .user-profile:hover {
  color: #fff; }

nav.navigation .user .border {
  display: inherit;
  position: relative;
  top: 6px;
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 0.5rem; }

nav.navigation .user .ion-person {
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 1.3rem; }

nav.navigation .user .logout {
  display: inherit;
  position: relative;
  top: 1px;
  margin-left: 2rem;
  padding: 0 5px;
  font-size: 1.3rem;
  cursor: pointer;
  color: #b6b6b6; }

nav.navigation .user .logout:hover {
  color: goldenrod; }

@media only screen and (min-width: 768px) {
  nav.navigation {
    line-height: 2.5rem;
    float: right; }
  nav.navigation.hidden {
    display: block !important;
    /* must be here for hamburger menu */ }
  nav.navigation ul li {
    margin: 10px 10px 7px;
    display: inline-block; }
  nav.navigation ul li a {
    padding: 3px 0; }
  nav.navigation .user .ion-person {
    top: -7px; } }

/* Sections styles
-------------------------------------------------- */
.section {
  /* Tablets */
  /* Desktop */
  /* Large screens */ }

.section.home {
  padding: 0; }

.section.home .home-wrapper {
  margin: 0; }

.section.home .content-filter {
  display: none;
  overflow: hidden; }

.section.home .content-filter .btn-default {
  line-height: 14px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem; }

.section.home .content-filter .btn-default span {
  font-size: 1rem;
  position: relative;
  top: 0;
  padding-left: 0; }

.section.home .content-filter .mobile-filter-btn {
  overflow: hidden;
  float: left;
  background: #fcfcf4; }

.section.home .content-filter .mobile-filter-btn .btn {
  margin: 0.5rem; }

.section.home .content-filter .search .input-group {
  padding: 0.5rem; }

.section.home .content-filter .btn-toolbar {
  padding: 0.5rem; }

.section.home .content-filter .btn i:before {
  font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  .section.home .content-filter .search {
    float: left;
    width: 50%; }
  .section.home .content-filter .btn-toolbar {
    float: right; } }

@media only screen and (min-width: 992px) {
  .section.home {
    padding: 0; }
  .section.home .rside {
    display: block;
    background: #fcfcf4;
    height: 10rem; }
  .section.home .content-filter {
    padding: 1.3rem 0; }
  .section.home .content-filter .search .input-group, .section.home .content-filter .btn-toolbar {
    padding: 0; } }

/* Sections styles
-------------------------------------------------- */
.filter-home {
  padding: 0;
  /* Tablets */
  /* Desktop */
  /* Large screens */ }

.filter-home .actions {
  padding: 1rem;
  background: #fcfcf4;
  border: 1px solid #edebdc; }

.filter-home .actions .add-new {
  width: 100%;
  padding: 6px 12px; }

.filter-home .actions .add-new:hover {
  border-color: #559797;
  background: #f2f2ea; }

.filter-home .actions .add-new:hover span:before {
  content: "\f216";
  color: #559797; }

.filter-home .filters {
  background: #fcfcf4;
  border: 1px solid #edebdc;
  border-top: none; }

.filter-home .filters.visible {
  display: block !important; }

.filter-home .filters .close-btn {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  color: #b6b6b6; }

.filter-home .filters .close-btn:hover {
  color: #000; }

.filter-home .filters .line-breaker {
  border-top: 1px solid #edebdc;
  margin: 1rem 0; }

.filter-home .filters .form-group {
  margin: 1rem 0; }

@media only screen and (min-width: 992px) {
  .filter-home .filters {
    padding: 1rem; } }

@media only screen and (min-width: 1200px) {
  .filter-home {
    max-width: 22rem; }
  .filter-home .filters {
    padding: 1rem 1.5rem; } }

/* Left navigation styles
-------------------------------------------------- */
.left-navigation {
  float: left;
  width: 65px;
  padding: 0;
  background: #fcfcf4;
  /* Tablets */
  /* Desktop and larger */ }

.left-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.left-navigation ul li {
  border: 1px solid #E5E3D4;
  border-top: 0; }

.left-navigation ul li .link {
  display: block;
  color: #777;
  text-decoration: none; }

.left-navigation ul li .link:hover {
  color: #373737;
  background: #fcfbf7; }

.left-navigation ul li .link.active {
  cursor: default;
  background: #f0eedf;
  color: #373737; }

.left-navigation ul li .link.active .icon {
  background: #559797;
  color: #fcfcf4;
  border-right-color: #559797; }

.left-navigation ul li .icon {
  display: inline-block;
  line-height: 4rem;
  font-size: 1.5rem;
  width: 4rem;
  text-align: center;
  border-right: 1px solid #E5E3D4; }

.left-navigation ul li .nav-item {
  display: none;
  font-size: 1.1rem;
  padding: 0 0 0 1rem; }

@media only screen and (min-width: 992px) {
  .left-navigation {
    width: 16rem; }
  .left-navigation ul li .nav-item {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 0 0 1rem; } }

/* Content
-------------------------------------------------- */
.profile {
  /* SmartPhones */
  /* Tablets */
  /* Desktop and larger */ }

.profile .title {
  border-top: 6px solid #559797;
  font-size: 1.3rem;
  border-bottom: 1px solid #CECCC0;
  line-height: 4rem; }

.profile .title .icon {
  padding: 0 1rem 0 2rem;
  color: #777; }

.profile .page {
  margin: 1rem 1rem 0 5rem; }

.profile .page .lbl {
  font-weight: bold;
  font-size: 0.9rem; }

.profile .page .lead {
  margin: 2rem 0 0;
  font-weight: bold; }

.profile .page .lbl2 {
  color: #777;
  font-size: 0.8rem;
  margin-bottom: 20px; }

.profile .image-upload {
  text-align: center; }

.profile .image-upload label {
  position: relative;
  cursor: pointer;
  margin: 1.5rem 0 0 0;
  height: 16rem;
  width: 16rem;
  background-size: cover;
  background-image: url(../img/profile_placeholder.png); }

.profile .image-upload label:hover {
  border: 1px solid orange; }

.profile .image-upload label:hover:after {
  content: "\002b";
  position: absolute;
  left: 1rem;
  font-size: 5rem;
  color: orange; }

.profile .image-upload #photo {
  display: none; }

.profile .cityDropdown {
  position: relative;
  z-index: 100; }

.profile .cityDropdown ul {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  width: 100%;
  border: 1px solid gray; }

.profile .cityDropdown ul li {
  padding: 0.2rem 0.5rem 0.2rem 1rem;
  cursor: pointer; }

.profile .cityDropdown ul li:hover {
  background: #edebdc; }

.profile .cityDropdown ul li .area {
  color: #999;
  padding-left: 0.5rem; }

.profile .cityDropdown ul li .region {
  color: #BBB; }

@media only screen and (min-width: 768px) {
  .profile .page .lead {
    font-weight: normal; } }

@media only screen and (min-width: 992px) {
  .profile .page {
    margin: 1.5rem 2rem 0 18rem; }
  .profile .page .lead {
    margin: 0; } }

/* Ads list styles
-------------------------------------------------- */
.ads {
  /* Tablets */
  /* Desktop */
  /* Desktop and larger */ }

.ads .btns-section {
  text-align: right;
  margin: 1rem 0; }

.ads .ads-list {
  max-width: 70rem; }

.ads .ad-item {
  max-height: 7rem;
  position: relative;
  overflow: hidden;
  border: 1px solid #edebdc;
  background: #fff;
  margin: 1rem 0; }

.ads .ad-item .photo {
  float: left;
  width: 7rem;
  height: 7rem;
  background: #f0eedf; }

.ads .ad-item .photo span {
  color: #b6b6b6;
  font-size: 5rem;
  padding: 0 20px; }

.ads .ad-item .content {
  float: left;
  width: 80%; }

.ads .ad-item .content .ad-title {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem 0; }

.ads .ad-item .content .ad-description {
  padding: 0.2rem 0.5rem; }

.ads .ad-item .i-bottom {
  position: absolute;
  left: 7.5rem;
  bottom: 0;
  width: 86%;
  font-size: 0.9rem;
  line-height: 2rem;
  max-height: 2rem;
  background: #FFFFFF;
  color: #666; }

.ads .ad-item .i-bottom i {
  position: relative;
  top: 1px;
  font-size: 1.2rem; }

.ads .ad-item .i-bottom span {
  font-size: 0.9rem;
  padding-left: .5rem;
  padding-right: 3%; }

.ads .ad-item .i-bottom span.date {
  padding-left: 0; }

.ads .ad-item .icon {
  position: absolute;
  right: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: #FFFFFF; }

.ads .ad-item .icon.star {
  top: 2rem;
  color: gold; }

.ads .ad-item .icon.star:hover {
  color: goldenrod; }

.ads .ad-item .icon.tab {
  top: 0;
  color: #b6b6b6; }

.ads .ad-item .icon.tab:hover {
  color: #777; }

.ads .ad-item .icon.arrow {
  bottom: -0.3rem;
  font-size: 1.5rem;
  color: #b6b6b6; }

.ads .ad-item .icon.arrow:hover {
  color: #559797; }

.ads .ad-item .icon.arrow:before {
  content: "\f123"; }

.ads .ad-item .section2 {
  height: 0; }

.ads .ad-item .section1 {
  overflow: hidden; }

.ads .ad-item.expanded {
  max-height: none;
  border-color: #e1d1c4; }

.ads .ad-item.expanded .icon.arrow:before {
  content: "\f126"; }

.ads .ad-item.expanded .section1 {
  overflow: hidden; }

.ads .ad-item.expanded .section2 {
  position: relative;
  height: auto;
  padding-bottom: 2rem; }

.ads .ad-item.expanded .section2 .ad-info {
  float: left;
  width: 7rem;
  text-align: center;
  padding-top: 1rem; }

.ads .ad-item.expanded .section2 .ad-info .send-message {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem; }

.ads .ad-item.expanded .section2 .ad-info .send-message:hover {
  border-color: #559797; }

.ads .ad-item.expanded .section2 .ad-info .send-message:hover span:before {
  content: '\f423'; }

.ads .ad-item.expanded .section2 .category {
  position: relative;
  float: left;
  margin: 0 1rem 2rem 0;
  padding-top: 1rem;
  width: 85%; }

.ads .ad-item.expanded .section2 .category table {
  margin-left: .5rem; }

.ads .ad-item.expanded .section2 .category .category-title {
  color: #777;
  font-size: 1.1rem;
  font-weight: normal; }

.ads .ad-item.expanded .section2 .category .filter-row {
  line-height: 1.5rem; }

.ads .ad-item.expanded .section2 .category .filter-row td {
  vertical-align: text-top; }

.ads .ad-item.expanded .section2 .category .filter-row .filter-title {
  color: #202124;
  font-weight: bold;
  padding-right: 1rem; }

.ads .ad-item.expanded .section2 .category .filter-row .parent i:nth-child(1n):after {
  content: ', '; }

.ads .ad-item.expanded .section2 .category .filter-row .parent i:last-child:after {
  content: ''; }

.ads .ad-item.expanded .section2 .category .filter-row .parent-title {
  color: #202124;
  font-weight: bold;
  font-style: italic; }

.ads .ad-item.expanded .section2 .category .filter-row .first-level {
  position: relative; }

.ads .ad-item.expanded .section2 .category .filter-row .first-level:after {
  content: '-';
  position: absolute;
  left: 0;
  top: 0; }

.ads .ad-item.expanded .section2 .category .filter-row .first-level span {
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 2; }

.ads .ad-item.expanded .section2 .category .filter-row .first-level .overlay {
  background: #fff;
  position: relative;
  z-index: 2; }

.ads .ad-item.expanded .section2 .category .filter-row .first-level span:nth-child(1n):after {
  content: ', '; }

.ads .ad-item.expanded .section2 .category .filter-row .first-level span:last-child:after {
  content: ''; }

.ads .ad-item.expanded .section2 .category .table-header {
  padding-bottom: 1rem; }

.ads .ad-item.expanded .section2 .phones {
  background: #fff;
  z-index: 1;
  position: relative;
  padding: 0.5rem 0;
  margin: 0.5rem;
  font-size: 1rem; }

.ads .ad-item.expanded .section2 .phones span {
  padding-right: 1rem;
  white-space: nowrap; }

.ads .ad-item.expanded .section2 .phones span:before {
  padding-right: 3px; }

.ads .ad-item.expanded .section2 .price {
  padding-top: 0.5rem; }

.ads .ad-item.expanded .section2 .price i {
  font-weight: bold; }

.ads .ad-item.expanded .section2 .message {
  width: 100%;
  z-index: 2;
  position: relative;
  top: 0;
  background-color: #f0eedf; }

.ads .ad-item.expanded .section2 .message .send_message_form {
  padding: 1rem 1.5rem; }

.ads .ad-item.expanded .section2 .message .send_message_form:before {
  content: '';
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f0eedf;
  left: -10px; }

.ads .ad-item.expanded .section2 .message .send_message_form label {
  font-weight: normal; }

.ads .ad-item.expanded .section2 .message .send_message_form #text_message {
  resize: vertical; }

.ads .ad-item.expanded .section2 .message .send_message_form .send {
  line-height: 1rem;
  padding: 0.5rem 1.5rem; }

.ads .ad-item.expanded .section2 .close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #b6b6b6;
  opacity: .7; }

.ads .ad-item.expanded .section2 .close:hover {
  opacity: 1; }

.ads .ad-item .placeholder {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(218, 165, 32, 0.4);
  border: dashed 1px goldenrod; }

.ads .ad-item .placeholder .add-button {
  background-color: transparent;
  border-color: transparent; }

.ads .ad-item .placeholder:before {
  content: "\f48a";
  position: relative;
  font-size: 4rem;
  left: 49%;
  top: 20%;
  color: #fff; }

.ads .ad-item .placeholder:hover {
  border-color: #559797; }

.ads .ad-item .placeholder:hover:before {
  color: #559797; }

/* Ads styles
-------------------------------------------------- */
.new-ad {
  /* Tablets */
  /* Desktop */
  /* Desktop and larger */ }

.new-ad .typeError, .new-ad .objectError {
  margin: 5px 0 0; }

.new-ad .form-divider {
  margin: 1rem 0;
  width: 50%;
  border-top: 1px solid #eee; }

.new-ad .lbl {
  margin-bottom: 5px; }

.new-ad .add-company {
  font-size: 0.8rem; }

.new-ad .ad-photo {
  margin: 0;
  width: 10rem;
  height: 10rem;
  background: #f0eedf;
  cursor: cell; }

.new-ad .ad-photo:hover {
  border: 1px solid orange; }

.new-ad .ad-photo span {
  font-size: 2.4rem;
  color: #fff; }

.new-ad .back {
  color: goldenrod;
  float: right; }

.new-ad .child-filters {
  margin-left: 1rem; }

.new-ad .input-label {
  margin: 0.5rem 0; }

.new-ad .from-to-inline .input-filter {
  display: inline-block; }

.new-ad .from-to-inline .input-filter label {
  font-weight: normal; }

.new-ad .from-to-inline .input-filter input {
  display: inline-block;
  width: 4rem; }

@media only screen and (min-width: 992px) {
  .new-ad .ad-photo span {
    font-size: 5rem; } }

@media only screen and (min-width: 1200px) {
  .new-ad .page {
    max-width: 50rem; } }

/* Content
-------------------------------------------------- */
.settings {
  /* SmartPhones */
  /* Tablets */
  /* Desktop and larger */ }

.settings .tabs {
  background: gray;
  overflow: hidden; }

.settings .tabs .tab {
  position: relative;
  font-size: 0.8rem;
  color: gray;
  background: #EAEAE2;
  border: 1px solid #edebdc;
  padding: 1rem;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer; }

.settings .tabs .tab.active {
  border: none;
  background: #fcfdfb;
  color: #373737;
  cursor: default; }

.settings .tabs .tab.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #808080;
  bottom: 0;
  left: 50%; }

.settings .tabs .tab:hover {
  color: #373737; }

.settings .saveProfile {
  width: 100%; }

.settings .updated {
  border-left: 5px solid #edebdc;
  color: #777;
  padding: 5px 10px;
  margin-top: 10px; }

@media only screen and (min-width: 992px) {
  .settings .tabs .tab {
    font-size: 1rem; }
  .settings .page {
    max-width: 50rem; }
  .settings .page .form-group.short {
    width: 25rem; } }

/* Modal styles
-------------------------------------------------- */
.modal {
  /* Tablets */
  /* Desktop and larger */ }

.modal .modal-header {
  background-color: #fcfcf4; }

.modal .modal-content {
  border-radius: 0; }

.modal#login .login-btn, .modal#login .registration-submit, .modal#registration .login-btn, .modal#registration .registration-submit, .modal#forgot .login-btn, .modal#forgot .registration-submit {
  margin: 1rem 0;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background-color: #559797;
  color: #fff;
  border-color: #559797; }

.modal#login .login-btn:hover, .modal#login .registration-submit:hover, .modal#registration .login-btn:hover, .modal#registration .registration-submit:hover, .modal#forgot .login-btn:hover, .modal#forgot .registration-submit:hover {
  background-color: #74BDC1;
  border-color: #b6b6b6; }

.modal#login .forgot-password, .modal#registration .forgot-password, .modal#forgot .forgot-password {
  position: relative;
  display: block;
  margin: 10px 0;
  text-align: right; }

.modal#registration .loader-wrapper {
  display: none;
  line-height: 23rem;
  text-align: center; }

.modal#login .loader-wrapper {
  display: none;
  line-height: 16rem;
  text-align: center; }

.modal .alert {
  display: none; }

.modal .checkmark {
  display: none;
  color: #008023;
  font-size: 5rem;
  text-align: center; }
