@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic-ext");
/* Base styles
-------------------------------------------------- */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  position: relative;
  font-size: 1rem;
  min-height: 100%;
  min-width: 320px; }

body {
  margin-bottom: 3rem;
  /* Margin bottom by footer height */
  background: #fcfbf7; }

a {
  text-decoration: underline; }

a:hover {
  cursor: pointer;
  text-decoration: none; }

input.form-control, select.form-control {
  border-radius: 0; }

input.error, select.error {
  border: 1px solid #a80200; }

label.error {
  color: #a80200; }

.loader {
  display: inline-block;
  border: 5px solid #fcfcf4;
  border-top: 5px solid #373737;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Header styles
-------------------------------------------------- */
header {
  /* Tablets */
  /* Desktop */
  /* Desktop and larger */ }

header .header-wrapper {
  background: #202124; }

header .logo {
  font-size: 1.2rem;
  text-align: center;
  padding: 1.5rem 0; }

header .logo a {
  color: #ccc;
  text-decoration: none; }

header .hamburger {
  font-size: 35px;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  color: #fff;
  cursor: pointer; }

header .hamburger.closeBtn span:before {
  content: "\f2d7"; }

@media only screen and (min-width: 768px) {
  header .logo {
    float: left;
    text-align: left; }
  header .logo a {
    margin-left: 1.5rem; } }

/* Welcome-section styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  /* Set the fixed height of the footer here */
  background-color: #fcfcf4;
  /* SmartPhones */
  /* Tablets */
  /* Desktop and larger */ }

.footer .copyright {
  float: right;
  line-height: 3rem;
  font-weight: bold; }

.footer .copyright .glyphicon-copyright-mark {
  font-size: 0.7rem; }

/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  /* Tablets */
  /* Desktop and larger */ }

nav.navigation ul {
  margin: 0;
  padding: 0.5rem 0 0 0;
  text-align: right;
  list-style: none; }

nav.navigation ul li {
  margin: 10px 10px 7px;
  font-size: 1rem; }

nav.navigation ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 3px 0;
  border-bottom: 1px solid #777777; }

nav.navigation ul li a:hover {
  border-bottom-color: #ccc; }

nav.navigation ul li .help-btn {
  font-size: 1.5rem; }

nav.navigation ul li .btn {
  font-size: 1rem; }

nav.navigation ul li .btn.btn-success {
  background-color: #559797;
  border-color: #559797; }

nav.navigation ul li .btn.btn-success:hover {
  background-color: #74BDC1;
  border-color: #74BDC1; }

nav.navigation ul li .btn.btn-default {
  color: #ccc;
  background-color: transparent;
  border-color: #777777; }

nav.navigation ul li .btn.btn-default:hover {
  color: #fff;
  border-color: #ccc; }

nav.navigation .user {
  position: relative;
  display: inline-block;
  color: #fff;
  padding-left: 5rem; }

nav.navigation .user .border {
  display: inline-block;
  position: relative;
  top: 5px;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid #fff;
  border-radius: 50%; }

nav.navigation .user .ion-person {
  position: absolute;
  top: -10px;
  left: 2px; }

nav.navigation .user .logout {
  padding: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  nav.navigation {
    line-height: 2.5rem; }
  nav.navigation.hidden {
    display: block !important;
    /* must be here for hamburger menu */ }
  nav.navigation ul li {
    margin: 10px 10px 7px;
    display: inline-block; }
  nav.navigation ul li a {
    padding: 3px 0; } }

@media only screen and (min-width: 992px) {
  nav.navigation .languages .flag {
    width: 50px;
    height: 30px; }
  nav.navigation .languages .eng {
    background: green; }
  nav.navigation .languages .bel {
    background: red; } }

/* Sections styles
-------------------------------------------------- */
.section {
  /* Tablets */
  /* Desktop */
  /* Large screens */ }

.section.home {
  padding: 0; }

.section.home .home-wrapper {
  margin: 0; }

.section.home .filter {
  padding: 0; }

.section.home .actions {
  background: #fcfcf4;
  border-bottom: 1px solid #fff;
  padding: 1rem 2rem; }

.section.home .actions .btn {
  background-color: #777777;
  border-color: #777777;
  color: #fff;
  width: 100%; }

.section.home .actions .btn:hover {
  background-color: #373737; }

.section.home .filters {
  font-size: 1rem;
  background: #fcfcf4;
  border-top: 1px solid #eee;
  padding: 1rem 1.5rem; }

.section.home .filters.visible {
  display: block !important; }

.section.home .filters .close-btn {
  position: absolute;
  right: 2rem;
  cursor: pointer;
  color: #ccc; }

.section.home .filters .close-btn:hover {
  color: #000; }

.section.home .filters .line-breaker {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff; }

.section.home .filters .form-group {
  margin: 1rem 0; }

.section.home .content-filter {
  overflow: hidden; }

.section.home .content-filter .mobile-filter-btn {
  overflow: hidden;
  float: left;
  background: #fcfcf4; }

.section.home .content-filter .mobile-filter-btn .btn {
  margin: 0.5rem; }

.section.home .content-filter .search .input-group {
  padding: 0.5rem; }

.section.home .content-filter .btn-toolbar {
  padding: 0.5rem; }

.section.home .content-filter .btn i:before {
  font-size: 1.2rem; }

.section.home .ads-list {
  overflow: hidden;
  margin: 1rem 0; }

.section.home .ads-item {
  position: relative;
  overflow: hidden;
  max-height: 7rem;
  margin-bottom: 1rem;
  border: 1px solid #E5E3D4;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.section.home .ads-item .type {
  position: absolute;
  font-size: 0.7rem;
  background: #559797;
  padding: 2px 4px;
  color: #fff; }

.section.home .ads-item .photo {
  float: left;
  height: 7rem;
  width: 7rem;
  background: #ccc;
  margin-right: 0.5rem;
  background-size: cover; }

.section.home .ads-item .title {
  font-size: 1rem;
  background-color: #fcfcf4;
  border-bottom: 1px solid #E5E3D4;
  padding: 0.5rem;
  white-space: nowrap; }

.section.home .ads-item .subtitle {
  padding: 0.5rem; }

.section.home .ads-item .item-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  padding-left: 7rem; }

.section.home .ads-item .item-footer .date, .section.home .ads-item .item-footer .organization, .section.home .ads-item .item-footer .location {
  display: inline-block;
  line-height: 1.5rem;
  padding: 0 1rem;
  background: #f9f9f9; }

.section.home .ads-item .item-footer .more {
  margin: 0 0.3rem 0 2rem; }

@media only screen and (min-width: 768px) {
  .section.home .content-filter .search {
    float: left;
    width: 50%; }
  .section.home .content-filter .btn-toolbar {
    float: right; } }

@media only screen and (min-width: 992px) {
  .section.home {
    padding: 0; }
  .section.home .ads-list {
    margin: 1rem 0; }
  .section.home .rside {
    display: block;
    background: #fcfcf4;
    height: 10rem; }
  .section.home .actions {
    padding: 1rem; }
  .section.home .actions .btn {
    font-size: 0.9rem; }
  .section.home .filters {
    padding: 1rem; }
  .section.home .content-filter {
    padding: 1.3rem 0; }
  .section.home .content-filter .search .input-group, .section.home .content-filter .btn-toolbar {
    padding: 0; } }

@media only screen and (min-width: 1200px) {
  .section.home .actions {
    padding: 1rem 2rem; }
  .section.home .actions .btn {
    font-size: 1rem; }
  .section.home .filters {
    padding: 1rem 1.5rem; } }

/* Left navigation styles
-------------------------------------------------- */
.left-navigation {
  float: left;
  width: 65px;
  padding: 0;
  background: #fcfcf4;
  /* Tablets */
  /* Desktop and larger */ }

.left-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.left-navigation ul li {
  border: 1px solid #E5E3D4;
  border-top: 0; }

.left-navigation ul li .link {
  display: block;
  color: #777777;
  text-decoration: none; }

.left-navigation ul li .link:hover {
  color: #373737;
  background: #fcfbf7; }

.left-navigation ul li .link.active {
  cursor: default;
  background: #f0eedf;
  color: #373737; }

.left-navigation ul li .link.active .icon {
  background: #559797;
  color: #fcfcf4;
  border-right-color: #559797; }

.left-navigation ul li .icon {
  display: inline-block;
  line-height: 4rem;
  font-size: 1.5rem;
  width: 4rem;
  text-align: center;
  border-right: 1px solid #E5E3D4; }

.left-navigation ul li .nav-item {
  display: none;
  font-size: 1.1rem;
  padding: 0 0 0 1rem; }

@media only screen and (min-width: 992px) {
  .left-navigation {
    width: 16rem; }
  .left-navigation ul li .nav-item {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 0 0 1rem; } }

/* Content
-------------------------------------------------- */
.profile {
  /* SmartPhones */
  /* Tablets */
  /* Desktop and larger */ }

.profile .title {
  border-top: 6px solid #559797;
  font-size: 1.3rem;
  border-bottom: 1px solid #CECCC0;
  line-height: 4rem; }

.profile .title .icon {
  padding: 0 1rem 0 2rem;
  color: #777777; }

.profile .page {
  margin: 1rem 1rem 0 5rem; }

@media only screen and (min-width: 992px) {
  .profile .page {
    margin: 1.5rem 2rem 0 18rem; } }

/* Content
-------------------------------------------------- */
.settings {
  /* SmartPhones */
  /* Tablets */
  /* Desktop and larger */ }

.settings .tabs {
  background: gray;
  overflow: hidden; }

.settings .tabs .tab {
  position: relative;
  font-size: 0.8rem;
  color: gray;
  background: #EAEAE2;
  border: 1px solid #E5E3D4;
  padding: 1rem;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer; }

.settings .tabs .tab.active {
  border: none;
  background: #fcfdfb;
  color: #373737;
  cursor: default; }

.settings .tabs .tab.active:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #808080;
  bottom: 0;
  left: 50%; }

.settings .tabs .tab:hover {
  color: #373737; }

.settings .save {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 2rem;
  margin-top: 2rem;
  border-color: #777777; }

.settings .save:hover {
  background: #74BDC1; }

.settings .lbl {
  font-weight: bold;
  font-size: 0.9rem; }

.settings .lead {
  margin-bottom: 0; }

.settings .lbl2 {
  color: #777777;
  font-size: 0.8rem;
  margin-bottom: 20px; }

@media only screen and (min-width: 992px) {
  .settings .tabs .tab {
    font-size: 1rem; }
  .settings .page {
    max-width: 50rem; }
  .settings .page .form-group.short {
    width: 25rem; } }

/* Modal styles
-------------------------------------------------- */
.modal {
  /* Tablets */
  /* Desktop and larger */ }

.modal .modal-header {
  background-color: #fcfcf4; }

.modal .modal-content {
  border-radius: 0; }

.modal#login .login-btn, .modal#login .registration-submit, .modal#registration .login-btn, .modal#registration .registration-submit, .modal#forgot .login-btn, .modal#forgot .registration-submit {
  margin: 1rem 0;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background-color: #559797;
  color: #fff;
  border-color: #559797; }

.modal#login .login-btn:hover, .modal#login .registration-submit:hover, .modal#registration .login-btn:hover, .modal#registration .registration-submit:hover, .modal#forgot .login-btn:hover, .modal#forgot .registration-submit:hover {
  background-color: #74BDC1;
  border-color: #ccc; }

.modal#login .forgot-password, .modal#registration .forgot-password, .modal#forgot .forgot-password {
  position: relative;
  display: block;
  margin: 10px 0;
  text-align: right; }

.modal#registration .loader-wrapper {
  display: none;
  line-height: 23rem;
  text-align: center; }

.modal#login .loader-wrapper {
  display: none;
  line-height: 16rem;
  text-align: center; }

.modal .alert {
  display: none; }

.modal .checkmark {
  display: none;
  color: #008023;
  font-size: 5rem;
  text-align: center; }

/* icons
  'partials/icons/_ionicons-variables',
  'partials/icons/_ionicons-font',
  'partials/icons/_ionicons-icons';
*/
