<!-- Forgot modal -->
<div class="modal fade" id="avatar"  tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="avatarModalLabel">Загрузка личного фото</h4>
      </div>
      <div class="modal-body">
        <input id="upload" type="file" name="avatar" accept="image/gif, image/jpeg, image/png">
        <div id="upload-preview"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-danger pull-left" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-default">Загрузить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->