/* Ads list styles
-------------------------------------------------- */
.ads {

  .btns-section {
    text-align: right;
    margin: 1rem 0;
  }

  .ads-list {
    max-width: 70rem;
  }

  .ad-item {
    max-height: 7rem;
    position: relative;
    overflow: hidden;
    border: 1px solid $gray;
    background: #fff;
    margin: 1.5rem 0;

    .photo {
      float: left;
      width: 7rem;
      height: 7rem;
      background: #f0eedf;
      span {
        color: $gray-dark;
        font-size: 5rem;
        padding: 0 20px;
      }
    }
    .content {
      float: left;
      width: 80%;

      .ad-title {
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem 0;
      }
      .ad-description {
        padding: 0.2rem 0.5rem;
      }
    }
    .i-bottom {
      position: absolute;
      left: 7.5rem;
      bottom: 0;
      width: 86%;
      font-size: 0.9rem;
      line-height: 2rem;
      max-height: 2rem;
      background: $white;
      color: $gray-dark2;
      i {
        position: relative;
        top: 1px;
        font-size: 1.2rem;
        cursor: pointer;
      }
      span {
        font-size: 0.9rem;
        padding-left: .5rem;
        padding-right: 3%;
        cursor: pointer;
        &:hover {
          color: $blue-dark;
        }
        &.date {
          padding-left: 0;
        }
      }
    }
    .icon {
      position: absolute;
      right: 0.5rem;
      font-size: 1.7rem;
      cursor: pointer;
      background: $white;
      &.star {
        top: 0;
        color: gold;
        &:hover {
          color: goldenrod;
        }
      }
      &.tab {
        top: 2.5rem;
        right: 0.6rem;
        color: $gray-dark;
        &:hover {
          color: $gray-dark2;
        }
      }
      &.arrow {
        bottom: -0.3rem;
        font-size: 1.5rem;
        color: $gray-dark;
        &:hover {
          color: $blue-dark;
        }
        &:before {
          content: "\f123";
        }
      }
    }
    .section2 {
      height: 0;
    }
    .section1 {
      overflow: hidden;
    }

    &.expanded {
      max-height: none;
      border-color: #e1d1c4;

      .icon.arrow:before {
        content: "\f126";
      }

      .section1 {
        overflow: hidden;
      }

      .section2 {
        position: relative;
        height: auto;
        padding-bottom: 2rem;


        .ad-info {
          float: left;
          width: 7rem;
          text-align: center;
          padding-top: 1rem;

          .see-phone {
            position: relative;
            padding: 0.5rem 1rem;
            margin: 0.5rem;
            &:hover {
              border-color: $blue-dark;
              span:before {
                content: '\f4b9';
              }
            }
          }
          .send-message {
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;

            &:hover {
              border-color: $blue-dark;
              span:before {
                content: '\f423';
              }
            }
          }
        }
        .category {
          position: relative;
          float: left;
          margin: 0 1rem 2rem 0;
          padding-top: 1rem;
          width: 85%;

          table {
            margin-left: .5rem;
          }

          .category-title {
            color: $gray-dark2;
            font-size: 1.1rem;
            font-weight: normal;
          }
          .filter-row {
            line-height: 1.5rem;

            td {
              vertical-align: text-top;
            }
            .filter-title {
              color: $main-dark;
              font-weight: bold;
              padding-right: 1rem;
            }
            .parent i:nth-child(1n):after {
              content: ', ';
            }
            .parent i:last-child:after {
              content: '';
            }
            .parent-title {
              color: $main-dark;
              font-weight: bold;
              font-style: italic;
            }
            .first-level {
              position: relative;
            }
            .first-level:after {
              content: '-';
              position: absolute;
              left: 0;
            }
            .first-level span {
              display: inline-block;
              background: #fff;
              position: relative;
              z-index: 1;
            }
            .first-level span:nth-child(1n):after {
              content: ', ';
            }
            .first-level span:last-child:after {
              content: '';
            }
          }
          .table-header {
            padding-bottom: 1rem;
          }
        }
        .message {
          width: 100%;
          z-index: 2;
          position: absolute;
          top: 0;
          padding-top: 1rem;
          background-color: rgba(84, 73, 64, 0.93);

          .send_message_form {
            margin: 1rem 2rem 2rem;
            &:before {
              content: '';
              position: absolute;
              border-top: 1rem solid transparent;
              border-bottom: 1rem solid transparent;
              border-right: 1rem solid rgba(84, 73, 64, 0.93);
              left: -1rem;
            }
            #name {
              max-width: 15rem;
            }
          }
        }
        .close {
          position: absolute;
          top: .5rem;
          right: 1rem;
          font-size: 2rem;
          color: #fff;
          opacity: .7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

  }

  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {

  }


}