/* Ads list styles
-------------------------------------------------- */
.ads {

  .btns-section {
    text-align: right;
    margin: 1rem 0;
  }

  .ads-list {
    max-width: 70rem;
  }

  .ad-item {
    max-height: 7rem;
    position: relative;
    overflow: hidden;
    border: 1px solid $gray;
    background: #fff;
    margin: 1.5rem 0;

    .photo {
      float: left;
      width: 7rem;
      height: 7rem;
      background: #f0eedf;
      span {
        color: $gray-dark;
        font-size: 5rem;
        padding: 0 20px;
      }
    }
    .content {
      float: left;
      width: 80%;

      .ad-title {
        font-size: 1rem;
        padding: 5px 10px;
      }
      .ad-description {
        padding: 5px 10px;
      }
    }
    .i-bottom {
      position: absolute;
      left: 7.5rem;
      bottom: 0;
      width: 86%;
      font-size: 0.9rem;
      background: $white;
      color: $gray-dark2;
      i {
        font-size: 1.2rem;
        cursor: pointer;
      }
      span {
        font-size: 0.9rem;
        padding-left: .5rem;
        padding-right: 3%;
        cursor: pointer;
        &:hover {
          color: $blue-dark;
        }
      }
    }
    .icon {
      position: absolute;
      right: 0.5rem;
      font-size: 1.7rem;
      cursor: pointer;
      background: $white;
      &.star {
        top: 0;
        color: gold;
        &:hover {
          color: goldenrod;
        }
      }
      &.tab {
        top: 2.5rem;
        right: 0.6rem;
        color: $gray-dark;
        &:hover {
          color: $gray-dark2;
        }
      }
      &.arrow {
        bottom: -0.3rem;
        font-size: 1.5rem;
        color: $gray-dark;
        &:hover {
          color: $blue-dark;
        }
        &:before {
          content: "\f123";
        }
      }
    }
    .section2 {
      display: none;
    }

    &.expanded {
      max-height: none;
      border-color: #e1d1c4;

      .icon.arrow:before {
        content: "\f126";
      }

      .section1 {
        overflow: hidden;
      }

      .section2 {
        height: 300px;
        display: block;
      }
    }

  }

  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {

  }


}