/* companies profile styles
-------------------------------------------------- */
.ad-full-view {

  .subheader {
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
    height: 9rem;
    background: $subheader-dark;
    color: $gray-light;

    .photo-filter-icon {
      display: block;
      position: absolute;
      width: 4rem;
      left: 3.5rem;
      top: 2.5rem;
      opacity: .3;
    }
    .photo {
      position: relative;
      float: left;
      width: 7rem;
      height: 7rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $photo-bg;
      border: 1px solid $photo-bg;
    }
    h2 {
      margin-left: 8rem;
      margin-top: 0;
      font-size: 1.2rem;
    }
  }
  .status-details {
    padding: .5rem 2.5rem;
    background: $gray;

    .type {
      display: inline-block;
      padding: 2px 15px;
      border-radius: 2px;
      color: $white;

      &.success {
        background: $success;
      }
      &.fail {
        background: $fail;
      }
    }
    .date {
      margin-left: 1rem;
    }
  }
  .content {
    margin: 1rem 2rem;

    .brd-nav-tabs {
      font-size: 1.1rem;
    }
    .category {
      font-size: .9rem;

      .category-title {
        font-size: 1.3rem;
      }
      .filter-row {
        line-height: 2.2rem;
        border-bottom: 1px solid $gray;

        td {
          vertical-align: text-top;
        }
        .filter-title {
          position: relative;
          background: $main-bg;
          color: $main-dark;
          font-weight: bold;
          padding-right: 1rem;
        }
        .parent {
          position: relative;
          background: $main-bg;
        }
        .parent i:nth-child(1n):after {
          content: ', ';
        }
        .parent i:last-child:after {
          content: '';
        }
        .parent-title {
          color: $main-dark;
          font-weight: bold;
          font-style: italic;
        }
        .parent-col {
          position: relative;
          .dash {
            display: inline-block;
            position: absolute;
          }
        }
        .first-level {
          position: relative;
          font-size: 1rem;
        }
        .first-level:after {
          content: '-';
          position: absolute;
          left: 0;
          top: 0;
        }
        .first-level span {
          display: inline-block;
          background: $main-bg;
          position: relative;
          z-index: 2;
        }
        .first-level .overlay {
          background: $main-bg;
          position: relative;
          z-index: 2;
        }
        .first-level span:nth-child(1n):after {
          content: ', ';
        }
        .first-level span:last-child:after {
          content: '';
        }
        .size-row {
          background: $main-bg;
          position: relative;
          z-index: 2;
        }
      }

    }
    .description {
      font-size: 1rem;
      margin: 1rem 0;
    }
    .price {
      padding: .3rem 1rem .3rem .5rem;
      margin: .3rem 0;
      display: inline-block;
      font-size: 1rem;
      background: #ffe976;
    }
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {
    .subheader {
      padding: 1.5rem 4rem;
      height: 10rem;

      .photo-filter-icon {
        left: 5.5rem;
        top: 3rem;
      }
      h2 {
        margin-left: 9rem;
        margin-top: 0;
        font-size: 1.6rem;
      }
    }
    .status-details {
      padding: .5rem 5rem;

      .type {
        padding: 2px 15px;
      }
    }

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }

  /* Large screens */
  @media only screen and (min-width: 1200px) {

  }

  /* Large screens */
  @media only screen and (min-width: 1400px) {

  }



}