/* Ads styles
-------------------------------------------------- */
.new-ad {

  .typeError, .objectError {
    margin: 5px 0 0;
  }
  .form-divider {
    margin: 1rem 0;
    width: 50%;
    border-top: 1px solid #eee;
  }
  .lbl {
    margin-bottom: 5px;
  }
  .add-company {
    font-size: 0.8rem;
  }
  .ad-photo {
    margin: 0;
    width: 10rem;
    height: 10rem;
    background: #f0eedf;
    cursor: cell;

    &:hover {
      border: 1px solid orange;
    }
    span {
      font-size: 2.4rem;
      color: #fff;
    }
  }
  .back {
    color: goldenrod;
    float: right;
  }
  .child-filters {
    margin-left: 1rem;
  }
  .input-label {
    margin: 0.5rem 0;
  }
  .from-to-inline {
    .input-filter {
      display: inline-block;
      label {
        font-weight: normal;
      }
      input {
        display: inline-block;
        width: 4rem;
      }
    }
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    .ad-photo {

      span {
        font-size: 5rem;
      }
    }
  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {
    .page {
      max-width: 50rem;
    }
  }


}