/* Company styles
-------------------------------------------------- */
.new-company {
  #companyName {
    max-width: 30rem;
  }
  .logo {
    position: relative;
    cursor: pointer;
    margin: 1.5rem 0;
    height: 130px;
    max-width: 300px;
    background-size: cover;

    &:hover {
      border: 1px solid $gray-dark;
      &:after {
        content: "\002b";
        position: absolute;
        left: 1rem;
        font-size: 3rem;
        color: $gray-dark;
      }
    }
  }
  #upload-preview {
    width: 350px;
    min-height: 250px;
    margin: 0 auto;
  }
  input[type="number"] {
    max-width: 20rem;
  }
  .back {
    color: goldenrod;
    float: right;
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {
    .page {
      max-width: 50rem;
    }
  }


}