/* Ads styles
-------------------------------------------------- */
.add-ad-form {

  .form-divider {
    margin: 1rem 0;
    width: 50%;
    border-top: 1px solid #eee;
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {

  }


}