/* Ads styles
-------------------------------------------------- */
.new-ad {

  .add-ad-form {

    .form-divider {
      margin: 1rem 0;
      width: 50%;
      border-top: 1px solid #eee;
    }
    .add-photo-wrapper {
      text-align: center;

      .add-photo {
        padding: 10px 56px;
        margin: 26px;
        font-size: 4rem;
      }
    }


  }



  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {
    .page {
      max-width: 50rem;
    }
  }


}