/* Ads styles
-------------------------------------------------- */
.new-ad {

  .form-divider {
    margin: 1rem 0;
    width: 50%;
    border-top: 1px solid #eee;
  }
  .lbl {
    margin-bottom: 5px;
  }





  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    .add-company {
      margin-top: 21px;
    }
  }


  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {
    .page {
      max-width: 50rem;
    }
  }


}