@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic-ext');
/* Base styles
-------------------------------------------------- */
// Color schema
$main-bg: #fcfbf7;
$black: #000;
$main-dark: #202124;

$header-dark: #373737;
$header-dark-hover: #272727;

$gray-light: #fcfcf4;
$gray: #edebdc;
$gray-dark: #b6b6b6;
$gray-dark2: #777;
$gray-dark3: #888;
$gray-from-hell: #666;
$gray-page: #F2F2F0;

$blue-dark: #559797;
$blue-light: #74BDC1;
$error: #a80200;
$success: #008023;
$white: #FFFFFF;


html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  position: relative;
  font-size: 1rem;
  min-height: 100%;
  min-width: 320px;
}
body {
  margin-bottom: 3rem; /* Margin bottom by footer height */
  background: $main-bg;
}

a {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// Form elements
input, select, textarea {
  &.form-control {
    border-radius: 0;
  }
  &.error {
    border: 1px solid $error;
  }
}

label.error {
  color: $error;
}

// Buttons
.btn-default {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;

  span {
    font-size: 1.5rem;
    position: relative;
    top: 3px;
    padding-left: 5px;
  }
  &:hover {
    background: $gray-light;
    border-color: $gray-dark2;
  }
}

// Loader
.loader {
  display: inline-block;
  border: 5px solid $gray-light;
  border-top: 5px solid $header-dark;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.loader-wrapper {
  text-align: center;
  margin: 7rem 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.forbidden {
  text-align: center;

  .icon {
    font-size: 5rem;
  }
}

.blur-text {
  text-shadow: 0 0 7px rgba(0,0,0,0.7);
  color: transparent;
}

// Margins & Paddings shorthands
.m-b-05 {
  margin-bottom: .5rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-r-1 {
  margin-right: 1rem;
}
.m-b-2 {
  margin-bottom: 2rem;
}
.m-t-05 {
  margin-top: 0.5rem;
}
.m-t-1 {
  margin-top: 1rem;
}
.m-t-2 {
  margin-top: 2rem;
}
.m-l-1 {
  margin-left: 1rem;
}
.m-l-05 {
  margin-left: 0.5rem;
}
.m-r-05 {
  margin-right: 0.5rem;
}
.p-l-0 {
  padding-left: 0;
}
