@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic-ext');
/* Base styles
-------------------------------------------------- */
// Color schema
$main-bg: #fcfbf7;
$black: #000;
$main-dark: #202124;

$header-dark: #373737;
$header-dark-hover: #272727;

$gray-light: #F2F2EA;
$gray: #eeeeee;
$gray-dark: #ccc;
$gray-dark2: #777777;

$blue-dark: #559797;
$blue-light: #74BDC1;
$error: #a80200;
$success: #008023;


html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  position: relative;
  font-size: 1rem;
  min-height: 100%;
  min-width: 320px;
}
body {
  margin-bottom: 3rem; /* Margin bottom by footer height */
  background: $main-bg;
}

a {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// Form elements
input, select {

  &.form-control {
    border-radius: 0;
  }

  &.error {
    border: 1px solid $error;
  }
}

label.error {
  color: $error;
}

// Loader
.loader {
  display: inline-block;
  border: 5px solid $gray-light;
  border-top: 5px solid $header-dark;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
