.calc {
  font-size: 1rem;

  form {
    .size-field {
      max-width: 20rem;
    }
    .count-field {
      max-width: 10rem;
    }
    .result-one {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      span {
        font-size: 1.1rem;
      }
    }
    .count-block {
      padding: 1rem 0;
    }
    .result {
      font-size: 1rem;
      display: inline-block;
      width: 20rem;
      margin-bottom: 1rem;
      .result-v,
      .result-p {
        padding: 0.3rem .5rem;
        background-color: $gray-light;
        border-radius: 3px;
        font-size: 1.2rem;
        border: 1px solid #f7d257;
      }
    }
  }
  .add-to-table {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    background-color: $blue-dark;
    color: $white;
    &:disabled {
      background-color: #fff7b1;
      color: $black;
      &:hover {
        border: 1px solid #f7d257;
      }
    }
  }
  .table {
    font-size: .8rem;
    th {
      font-size: .7rem;
    }
    td {
      vertical-align: inherit;
      &:last-child {
        text-align: center;
      }
    }
    .remove-row {
      font-size: 1.7rem;
      color: darkred;
      &:hover {
        color: red;
      }
    }
    .total {
      border-top: 1px solid #999;
      background: #f3f3f3;
      font-size: .9rem;
    }
  }
  .actions {
    button {
      display: block;
      margin: .5rem 0;
    }
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {
    .table {
      font-size: 1rem;
      th {
        font-size: .8rem;
      }
      td {
        vertical-align: inherit;
        &:last-child {
          text-align: center;
        }
      }
      .remove-row {
        font-size: 1.7rem;
        color: darkred;
        &:hover {
          color: red;
        }
      }
      .total {
        border-top: 1px solid #999;
        background: #f3f3f3;
        font-size: 1.1rem;
      }
    }
    .actions {
      button {
        display: inline-block;
        margin: .5rem 0;
      }
    }
  }
}

.tri-down {
  /* Styling block element, not required */
  position: relative;
  margin-bottom: 2em;
  padding: 1em;
  border-bottom: 1px solid #999;
  background: #f3f3f3;
}

/* Required for Down Triangle */
.tri-down:before, .tri-down:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

/* Stroke */
.tri-down:before {
  bottom: -16px;
  left: 21px;

  /* If 1px darken stroke slightly */
  border-top-color: #777;
  border-width: 16px;
}

/* Fill */
.tri-down:after {
  bottom: -15px;
  left: 22px;
  border-top-color: #f3f3f3;
  border-width: 15px;
}



@media print {
  header,
  footer {
    display: none;
  }
  .calc {
    h2,
    .tri-down,
    .add-to-table,
    .actions {
      display: none;
    }
  }
}