/* Sections styles
-------------------------------------------------- */

.filter-home {
  padding: 0;

  .actions {
    padding: 1rem;
    background: $gray-light;
    border: 1px solid $gray;
    text-align: center;

    .add-new {
      width: 100%;
      padding: 6px 12px;
      &:hover {
        border-color: $blue-dark;
        background: #f2f2ea;
        span:before {
          content: "\f216";
          color: $blue-dark;
        }
      }
    }
  }
  .show-mobile-filters {
    cursor: pointer;
    text-align: center;
    background: $gray;
    border-bottom: 1px solid $gray-dark;
    height: 2rem;
    span {
      font-size: 1.5rem;
      color: $gray-dark2;
      &:before {
        text-shadow: -1px 0 $gray-dark2, 0 1px $gray-dark2, 1px 0 $gray-dark2, 0 -1px $gray-dark2;
        color: #fff;
      }
    }
    &.opened span:before {
      content: "\f10d";
    }
  }
  .filters-wrapper {
    background: $gray-light;
    border: 1px solid $gray;
    border-top: none;
    padding: 1rem ;

    &.visible {
      display: block !important;
    }
    .close-btn {
      position: absolute;
      right: 1rem;
      cursor: pointer;
      color: $gray-dark;
      font-size: 1.5rem;
      z-index: 10;

      &:hover {
        color: #000;
      }
    }
    .line-breaker {
      border-top: 1px solid $gray;
      margin: 1rem 0;
    }
    .country-picker-label {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .drop-filter {
      padding: 0 1rem;
      font-size: 0.9rem;
      span {
        font-size: 1.1rem;
      }
      &:hover {
        border-color: goldenrod;
        span {
          color: goldenrod;
        }
      }

    }

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {

    .actions .add-new {
      width: 50%;
    }

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    .filters-wrapper {
      padding: 1rem;
    }
    .actions .add-new {
      width: 100%;
    }
    .country-picker .col-md-6 {
      width: 100%;
    }

  }

  /* Large screens */
  @media only screen and (min-width: 1200px) {
    max-width: 22rem;

    .filters-wrapper {
      padding: 1rem 1.5rem;
    }

  }

}