/* Sections styles
-------------------------------------------------- */

.filter-home {
  padding: 0;

  .actions {
    padding: 1rem;
    background: $gray-light;
    border: 1px solid $gray;
    .add-new {
      width: 100%;
      padding: 6px 12px;
      &:hover {
        border-color: $blue-dark;
        background: #f2f2ea;
        span:before {
          content: "\f216";
          color: $blue-dark;
        }
      }
    }
  }
  .filters {
    background: $gray-light;
    border: 1px solid $gray;
    border-top: none;

    &.visible {
      display: block !important;
    }
    .close-btn {
      position: absolute;
      right: 2rem;
      cursor: pointer;
      color: $gray-dark;
      &:hover {
        color: #000;
      }
    }
    .line-breaker {
      border-top: 1px solid $gray;
      margin: 1rem 0;
    }
    .form-group {
      margin: 1rem 0;
    }

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    .filters {
      padding: 1rem;
    }

  }

  /* Large screens */
  @media only screen and (min-width: 1200px) {
    max-width: 22rem;

    .filters {
      padding: 1rem 1.5rem;
    }

  }

}