/* Header styles
-------------------------------------------------- */
header {

  .header-wrapper {
    background: $main-dark;
  }

  .logo {
    a {
      display: inline-block;
      margin: 6px 0;
      padding: 10px 0 0 50px;
      width: 7rem;
      height: 40px;
      background: url('../img/logo-gray.svg') no-repeat;
      text-decoration: none;
      color: $gray;
      font-size: 1.1rem;

      &:hover {
        color: #fff
      }
    }
  }

  .hamburger {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 1.5rem;
    color: #fff;
    cursor: pointer;

    &.closeBtn span:before {
      content: "\f2d7";
    }
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    .logo {
      float: left;
      text-align: left;
      a {
        margin-left: 1.5rem;
      }
    }

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    .header-wrapper {
      height: 6rem;
      padding-top: 1rem;
    }
    .logo {
      a {
        width: 10rem;
        height: 55px;
        padding: 15px 0 0 70px;
        font-size: 1.3rem;
      }
    }

  }

  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {

  }

}