/* Header styles
-------------------------------------------------- */
header {
  .header-wrapper {
    background: $header-dark;
  }

  .logo {
    text-align: center;
    padding: 1rem 0;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .hamburger {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 1.5rem;
    color: #fff;
    cursor: pointer;

    &.closeBtn span:before {
      content: "\f2d7";
    }
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    .logo {
      float: left;
      text-align: left;
      a {
        margin-left: 1.5rem;
      }
    }

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {

  }

  /* Desktop and larger */
  @media only screen and (min-width: 1200px) {

  }

}