/* Sections styles
-------------------------------------------------- */
.section {

  &.home-banner {

  }

  &.home {
    padding: 0;

    .home-wrapper {
      margin: 0;
    }

    .content-filter {
      overflow: hidden;

      // Buttons
      .btn-default {
        line-height: 14px;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;

        span {
          font-size: 1rem;
          position: relative;
          top: 0;
          padding-left: 0;
        }
      }


      .mobile-filter-btn {
        overflow: hidden;
        float: left;
        background: $gray-light;

        .btn{
          margin: 0.5rem;
        }
      }
      .search .input-group{
        padding: 0.5rem;
      }
      .btn-toolbar {
        padding: 0.5rem;
      }
      .btn i:before {
        font-size: 1.2rem;
      }
    }
    .ads-list {
      overflow: hidden;
      margin: 1rem 0;
    }
    .rside {

    }

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    &.home {
      .content-filter {


        .search {
          float: left;
          width: 50%;
        }
        .btn-toolbar {
          float: right;

        }
      }
    }

  }


  /* Desktop */
  @media only screen and (min-width: 992px) {
    &.home {
      padding: 0;

      .ads-list {
        margin: 1rem 0;
      }
      .rside {
        display: block;
        background: $gray-light;
        height: 10rem;
      }


      .content-filter {
        padding: 1.3rem 0;

        .search .input-group, .btn-toolbar{
          padding: 0;
        }
      }
    }

  }

  /* Large screens */
  @media only screen and (min-width: 1200px) {


  }

}