/* Content
-------------------------------------------------- */
.main-content {

  .title {
    border-top: 6px solid $blue-dark;
    font-size: 1.3rem;
    border-bottom: 1px solid #CECCC0;
    line-height: 4rem;

    .icon {
      padding: 0 1rem 0 2rem;
      color: $gray-dark2;
    }
  }
  .page {
    margin: 1rem 1rem 0 5rem;
  }

  /* SmartPhones */
  @media only screen and (min-width: 450px) {

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    .page {
      .lead {
        font-weight: normal;
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    .page {
      margin: 1.5rem 2rem 0 18rem;

      .lead {
        margin: 0;
      }
    }

  }

}