/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    li {
      margin: 10px 10px 7px;
      font-size: 1rem;

      a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        padding: 3px 0;
        border-bottom: 1px solid $gray-dark2;
        &:hover {
          border-bottom-color: $gray-dark;
        }
      }
      .help-btn {
        font-size: 1.5rem;
      }
      .btn {
        font-size: 1rem;
        &.btn-success {
          background-color: $blue-dark;
          border-color: $blue-dark;
          &:hover {
            background-color: $blue-light;
            border-color: $blue-light;
          }
        }
        &.btn-default {
          color: $gray-dark;
          background-color: transparent;
          border-color: $gray-dark2;
          &:hover {
            color: #fff;
            border-color: $gray-dark;
          }
        }
      }
    }
  }

  .user {
    position: relative;
    display: inline-block;
    color: #fff;
    padding-left: 5rem;

    .user-profile {
      display: inherit;
      cursor: pointer;
      color: $gray;
      &:hover {
        color: #fff;
      }
    }
    .border {
      display: inherit;
      position: relative;
      top: 6px;
      height: 1.6rem;
      width: 1.6rem;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .profile-photo {
      background-size: cover;
      height: 1.5rem;
      width: 1.5rem;
      display: inline-block;
      z-index: 5;
      position: relative;
    }
    .ion-person {
      position: absolute;
      top: -2px;
      left: 4px;
      font-size: 1.3rem;
    }
    .logout {
      display: inherit;
      position: relative;
      top: 1px;
      margin-left: 2rem;
      padding: 0 5px;
      font-size: 1.3rem;
      cursor: pointer;
      color: $gray-dark;

      &:hover {
        color: goldenrod;
      }
    }
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {
    line-height: 2.5rem;
    float: right;

    &.hidden {
      display: block !important; /* must be here for hamburger menu */
    }
    ul {
      li {
        margin: 10px 10px 7px;
        display: inline-block;
        a {
          padding: 3px 0;
        }
      }
    }

    .user {
      .ion-person {
        top: -7px;
      }
      .profile-photo {
        top: -1px;
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {


  }

}