/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  ul {
    margin: 0;
    padding: 0.5rem 0 0 0;
    text-align: right;
    list-style: none;
    li {
      margin: 10px 10px 7px;
      font-size: 1rem;

      a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        padding: 3px 0;
        border-bottom: 1px solid $gray-dark2;
        &:hover {
          border-bottom-color: $gray-dark;
        }
      }
      .help-btn {
        font-size: 1.5rem;
      }
      .btn {
        font-size: 1rem;
        &.btn-success {
          background-color: $blue-dark;
          border-color: $blue-dark;
          &:hover {
            background-color: $blue-light;
            border-color: $blue-light;
          }
        }
        &.btn-default {
          color: $gray-dark;
          background-color: transparent;
          border-color: $gray-dark2;
          &:hover {
            color: #fff;
            border-color: $gray-dark;
          }
        }
      }
    }
  }

  .user {
    position: relative;
    display: inline-block;
    color: #fff;
    padding-left: 5rem;

    .border {
      display: inline-block;
      position: relative;
      top: 5px;
      height: 1.2rem;
      width: 1.2rem;
      border: 1px solid #fff;
      border-radius: 50%;
    }
    .ion-person {
      position: absolute;
      top: -10px;
      left: 2px;
    }
    .logout {
      padding: 0 1rem;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  /* Tablets */
  @media only screen and (min-width: 768px) {
    line-height: 2.5rem;

    &.hidden {
      display: block !important; /* must be here for hamburger menu */
    }
    ul {
      li {
        margin: 10px 10px 7px;
        display: inline-block;
        a {
          padding: 3px 0;
        }
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {

    .languages {
      .flag {
        width: 50px;
        height: 30px;
      }
      .eng {
        background: green;
      }
      .bel {
        background: red;
      }
    }

  }

}