/* Navigation styles
-------------------------------------------------- */
nav.navigation {
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    li {
      margin: 10px 10px 7px;
      font-size: 1rem;

      a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 0;

      }
      .help-btn {
        font-size: 1.5rem;
      }
      .btn {
        font-size: 1rem;
        &.btn-success {
          background-color: $blue-dark;
          border-color: $blue-dark;
          &:hover {
            background-color: $blue-light;
            border-color: $blue-light;
          }
        }
        &.btn-default {
          color: $gray-dark;
          background-color: transparent;
          border-color: $gray-dark2;
          &:hover {
            color: #fff;
            border-color: $gray-dark;
          }
        }
      }
    }
  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    &.hidden {
      display: block !important; /* must be here for hamburger menu */
    }
    ul {
      li {
        margin: 10px 10px 7px;
        display: inline-block;
        a {
          padding: 7px 0;
        }
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    .languages {
      .flag {
        width: 50px;
        height: 30px;
      }
      .eng {
        background: green;
      }
      .bel {
        background: red;
      }
    }

  }

}