.brd-nav-tabs {


  select {
    display: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid $gray;
  }
  li {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    &.tab0, &.tab2 {
      display: none;
    }
  }
  a {
    display: inline-block;
    color: $black;
    opacity: 0.6;
    text-decoration: none;
    padding: 1rem*0.5 1rem;
    border-bottom: 3px solid transparent;

    &.active,
    &:hover {
      border-bottom: 3*1px solid $blue-dark;
      opacity: 1.0;
      position: relative;
      @include transition(all .2s ease-in-out);
    }
  }
}

.filter-group-container {
  margin-right: 1rem*2;
}
