/* Content
-------------------------------------------------- */
.profile {

  .title {
    border-top: 6px solid $blue-dark;
    font-size: 1.3rem;
    border-bottom: 1px solid #CECCC0;
    line-height: 4rem;

    .icon {
      padding: 0 1rem 0 2rem;
      color: $gray-dark2;
    }
  }
  .page {
    margin: 1rem 1rem 0 5rem;

    .lbl {
      font-weight: bold;
      font-size: 0.9rem;
    }
    .lead {
      margin: 2rem 0 0;
      font-weight: bold;
    }
    .lbl2 {
      color: $gray-dark2;
      font-size: 0.8rem;
      margin-bottom: 20px;
    }
  }

  .photo {
    position: relative;
    cursor: pointer;
    margin: 1.5rem auto;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-image: url(../img/profile_placeholder.png);
    border-radius: 50%;
    &:hover {
      border: 1px solid orange;
      &:after {
        content: "\002b";
        position: absolute;
        left: 1rem;
        font-size: 5rem;
        color: orange;
      }
    }
  }

  #upload {
    margin-bottom: 1rem;
    cursor: pointer;
  }
  #upload-preview {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }


  /* SmartPhones */
  @media only screen and (min-width: 450px) {

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    .page {
      .lead {
        font-weight: normal;
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    .page {
      margin: 1.5rem 2rem 0 18rem;

      .lead {
        margin: 0;
      }
    }

  }

}