/* Sections styles
-------------------------------------------------- */
.section {
  &.home-banner {
    height: 1px;
    background: $gray-light;
  }

  &.home {
    padding: 1rem;

    .filters {

    }
    .ads-list {

    }
    .ads-item {
      position: relative;
      overflow: hidden;
      max-height: 7rem;
      margin-bottom: 1rem;
      border: 1px solid $gray;
      border-radius: 4px;
      box-shadow: (0 1px 1px rgba(0,0,0,.05));

      .type {
        position: absolute;
        font-size: 0.7rem;
        background: $blue-dark;
        padding: 2px 4px;
        color: #fff;
      }
      .photo {
        float: left;
        height: 7rem;
        width: 7rem;
        background: $gray-dark;
        margin-right: 0.5rem;
      }
      .title {
        font-size: 1rem;
        background-color: $gray-light;
        border-bottom: 1px solid $gray;
        padding: 0.5rem;
        white-space: nowrap;
      }
      .subtitle {
        padding: 0.5rem;
      }
      .item-footer {
        width: 100%;
        line-height: 1.5rem;
      }
    }
    .rside {
      background: $gray-light;
      height: 10rem;
    }

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {


  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {

  }

}