/* Sections styles
-------------------------------------------------- */
.section {
  &.home-banner {

  }

  &.home {
    padding: 1rem 0;

    .actions {
      background: $gray-light;
      border-bottom: 1px solid #fff;
      padding: 1rem 2rem;

      .btn {
        background-color: #559797;
        border-color: #559797;
        color: #fff;
        width: 100%;
      }
    }
    .filters {
      background: $gray-light;
      border-top: 1px solid #eee;
      padding: 1rem 2rem;

      .line-breaker {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #fff;
      }
      .form-group {
        margin: 1rem 0;
      }
    }
    .content-filter {
      overflow: hidden;

      .search {
        .form-control {
          height: 36px;
        }

      }
      .btn-toolbar {

      }
      .btn i:before {
        font-size: 1.2rem;
      }
    }
    .ads-list {
      overflow: hidden;
      margin: 1rem;
    }
    .ads-item {
      position: relative;
      overflow: hidden;
      max-height: 7rem;
      margin-bottom: 1rem;
      border: 1px solid $gray;
      border-radius: 4px;
      box-shadow: (0 1px 1px rgba(0,0,0,.05));

      .type {
        position: absolute;
        font-size: 0.7rem;
        background: $blue-dark;
        padding: 2px 4px;
        color: #fff;
      }
      .photo {
        float: left;
        height: 7rem;
        width: 7rem;
        background: $gray-dark;
        margin-right: 0.5rem;
      }
      .title {
        font-size: 1rem;
        background-color: $gray-light;
        border-bottom: 1px solid $gray;
        padding: 0.5rem;
        white-space: nowrap;
      }
      .subtitle {
        padding: 0.5rem;
      }
      .item-footer {
        width: 100%;
        line-height: 1.5rem;
      }
    }
    .rside {

    }

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {
    &.home {
      .content-filter {
        padding: 1.3rem 0;

        .search {
          float: left;
          width: 50%;
        }
        .btn-toolbar {
          float: right;

        }
      }
    }

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    &.home {
      .ads-list {
        margin: 1rem 0;
      }
      .rside {
        display: block;
        background: $gray-light;
        height: 10rem;
      }
    }

  }

}