/* Content
-------------------------------------------------- */
.settings {

  .save {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 2rem;
    margin-top: 2rem;
    border-color: $gray-dark2;

    &:hover {
      background: $blue-light;
    }
  }

  /* SmartPhones */
  @media only screen and (min-width: 450px) {

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {

    .page {
      max-width: 70rem;

      .form-group.short {
        width: 300px;
      }
      .form-group.row {
        height: 4rem;
      }

    }

  }

}