/* Content
-------------------------------------------------- */
.tabs {
  background: gray;
  overflow: hidden;

  .tab {
    position: relative;
    font-size: 0.8rem;
    color: gray;
    background: #EAEAE2;
    border: 1px solid $gray;
    padding: 1rem;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;

    &.active {
      border: none;
      background: #fcfdfb;
      color: $header-dark;
      cursor: default;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #808080;
        bottom: 0;
        left: 50%;
      }
    }
    &:hover {
      color: $header-dark;
    }
  }


  /* SmartPhones */
  @media only screen and (min-width: 450px) {

  }


  /* Tablets */
  @media only screen and (min-width: 768px) {

  }


  /* Desktop and larger */
  @media only screen and (min-width: 992px) {
    .tab {
      font-size: 1rem;
    }
  }


}