<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile new-ad">
  <div class="title">
    <span class="icon ion-person-stalker"></span>
    <span class="title-text">Новая компания</span>
  </div>
  <div class="page">
    <!--  Add new company form -->
    TEST
    <!-- /end form-->
  </div>


</div>