<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="main-content companies">
  <div class="title">
    <span class="icon ion-person-stalker"></span>
    <span class="title-text">Мои компании</span>
  </div>
  <div class="page">
    <div class="btns-section">
      <button type="button" class="btn btn-default pull-left add-button">Добавить компанию <span class="ion-ios-plus-outline"></span></button>
    </div>

    <div class="companies-list"></div>


  </div>
</div>
