<div class="row header-wrapper">
  <!-- Logo -->
  <div class="col-md-3 logo">
    <a href="/">Lignum</a>
  </div>
  <!-- /end logo -->
  <!-- Navigation -->
  <nav class="col-md-9 navigation hidden">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a>Компании</a></li>
      <li><a href="#calc">Калькулятор</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li>
        {{#if user}}

          <div class="user">
            <div class="user-profile">
              <div class="border">
                <span class="profile-photo" style="background-image: url('img/avatar/{{user._id}}.png')"></span>
                <i class="ion-person"></i>
              </div>
              {{this.user.name}}
            </div>
            <span class="ion-log-out logout"></span>
          </div>

        {{else}}
          <button type="button" class="btn btn-default registration">Регистрация</button>
          <button type="button" class="btn btn-success login">Войти</button>
        {{/if}}
      </li>
    </ul>
  </nav>
  <!-- /end navigation -->
</div>
<div class="hamburger visible-xs">
  <span class="ion-navicon"></span>
</div>