<ul>
  <li>
    <a class="link {{#compare activePage '===' 'dashboard'}}active{{/compare}}" href="#profile/dashboard">
      <span class="icon ion-person"></span>
      <span class="nav-item">Мой кабинет</span>
    </a>
  </li>
  <li>
    <a class="link {{#compare activePage '===' 'ads'}}active{{/compare}}" href="#profile/ads">
      <span class="icon ion-clipboard"></span>
      <span class="nav-item">Объявления</span>
    </a>
  </li>
  <li>
    <a class="link {{#compare activePage '===' 'companies'}}active{{/compare}}" href="#profile/companies">
      <span class="icon ion-person-stalker"></span>
      <span class="nav-item">Компании</span>
    </a>
  </li>
  <li>
    <a class="link">
      <span class="icon ion-android-mail"></span>
      <span class="nav-item">Сообщения</span>
    </a>
  </li>
  <li>
    <a class="link">
      <span class="icon ion-android-star-outline"></span>
      <span class="nav-item">Избранное</span>
    </a>
  </li>
  <li>
    <a class="link {{#compare activePage '===' 'settings'}}active{{/compare}}" href="#profile/settings">
      <span class="icon ion-settings"></span>
      <span class="nav-item">Настройки</span>
    </a>
  </li>
</ul>