<ul>
  <li>
    <a class="link {{#compare activePage '===' 'dashboard'}}active{{/compare}}" href="#dashboard">
      <span class="icon ion-person"></span>
      <span class="nav-item">Мой кабинет</span>
    </a>
  </li>
  <li>
    <a class="link {{#compare activePage '===' 'ads'}}active{{/compare}}" href="#ads">
      <span class="icon ion-clipboard"></span>
      <span class="nav-item">Объявления</span>
    </a>
  </li>
  <li>
    <a class="link {{#compare activePage '===' 'companies'}}active{{/compare}}" href="#companies">
      <span class="icon ion-briefcase"></span>
      <span class="nav-item">Компании</span>
    </a>
  </li>
  <li>
    <a class="link">
      <span class="icon ion-android-mail"></span>
      <span class="nav-item">Сообщения</span>
    </a>
  </li>
  <li>
    <a class="link">
      <span class="icon ion-android-star-outline"></span>
      <span class="nav-item">Избранное</span>
    </a>
  </li>
  <li>
    <a class="link {{#compare activePage '===' 'settings'}}active{{/compare}}" href="#settings">
      <span class="icon ion-settings"></span>
      <span class="nav-item">Настройки</span>
    </a>
  </li>
  <li style="display: none">
    <a class="link">
      <span class="icon ion-help-buoy"></span>
      <span class="nav-item">Помощь</span>
    </a>
  </li>
</ul>