<div class="send_message_form">
  <div class="arrow-left"></div>
  <div class="ion-close close"></div>
  <form>
    <!-- USER: {{userId}} -->

    <div class="form-group">
      <label for="text_message">Текст сообщения:</label>
      <textarea class="form-control" rows="3" id="text_message" name="text_message"></textarea>
    </div>
    <button type="button" class="btn btn-default send" disabled>Отправить</button>
  </form>
</div>
