<div class="send_message_form">
  <div class="arrow-left"></div>
  <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <form>
    <!-- USER: {{userId}} -->
    <div class="form-group">
      <label for="text_message">Текст сообщения:</label>
      <textarea class="form-control" rows="3" id="text_message" name="text_message"></textarea>
    </div>
    <button type="button" class="btn btn-default send" disabled>Отправить</button>
  </form>
</div>
