<div class="ad-full-view">
  {{#if loading}}
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
  {{else if isError}}
    {{errorMessage}}
  {{else}}

    DONE.

  {{/if}}
</div>

