<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile new-ad">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Новое объявление</span>
  </div>
  <div class="page">
    <!--  Add new ad form -->
    <form>
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="type" value="buy">Куплю</label>
        <label class="radio-inline"><input type="radio" name="type" value="sell">Продам</label>
      </div>
      <div class="form-divider"></div>
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="object" value="product">Товар</label>
        <label class="radio-inline"><input type="radio" name="object" value="service">Услуга</label>
      </div>
      <div class="form-divider"></div>

      <p class="lbl">Раздел</p>
      <div class="form-group">
        <select class="form-control" id="category">
          <option value="">...</option>
          <option value="Пиломатериалы">Пиломатериалы</option>
          <option value="Лесоматериалы">Лесоматериалы</option>
          <option value="Изделия из древесины">Изделия из древесины</option>
          <option value="Древесные отходы">Древесные отходы</option>
          <option value="Транспорт и перевозки">Транспорт и перевозки</option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Заголовок</label>
        <input type="text" class="form-control" id="title" placeholder="Заголовок объявления">
      </div>
      <div class="form-group">
        <label for="description">Текс объявления</label>
        <textarea class="form-control" rows="3" id="description" placeholder="Текс объявления"></textarea>
      </div>

      <div id="country-picker"></div>

      <div class="form-group row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="price">Цена</label>
            <input type="text" class="form-control" id="price" placeholder="Цена">
          </div>
        </div>
        <div class="col-md-6">
          <p class="lbl">Срок размещения</p>
          <div class="form-group">
            <select class="form-control" id="expirationDate">
              <option value="5">5 дней</option>
              <option value="10">10 дней</option>
              <option value="30">30 дней</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="price">Контактные данные:</label>
            <input type="text" class="form-control" id="contacts" placeholder="Введите название компании">
          </div>
          <div class="form-group">
            <div class="radio">
              <label><input type="radio" name="optradio" checked>Использовать контактные телефоны профиля</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" disabled>Использовать контактные телефоны компании</label>
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio">Ввести контактный телефон</label>
              <input type="text" class="form-control" id="contacts" placeholder="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-default">Add image</button>
        </div>
      </div>



      <button type="button" class="btn btn-default save-ad disabled">Опубликовать</button>
    </form>
    <!-- /end form-->
  </div>



</div>