<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile ads">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Новое объявление</span>
  </div>
  <div class="page">

    <form class="add-ad-form">
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="optradio">Куплю</label>
        <label class="radio-inline"><input type="radio" name="optradio">Продам</label>
      </div>
      <div class="form-divider"></div>
      <div class="form-group">
        <label class="radio-inline"><input type="radio" name="optradio1">Товар</label>
        <label class="radio-inline"><input type="radio" name="optradio1">Услуга</label>
      </div>

      <button type="button" class="btn btn-default save-ad disabled">Сохранить</button>
    </form>

  </div>



</div>