<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile ads">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Мои объявления</span>
  </div>
  <div class="page">
    <div class="btns-section">
      <button type="button" class="btn btn-default add-button">Добавить объявление <span class="ion-ios-plus-outline"></span></button>
      <button type="button" class="btn btn-default go-to-archive" disabled>Архив <span class="ion-filing"></span></button>
    </div>
    {{#if loading}}
      <div>LOADER</div>
    {{else}}
      <div class="ads-list"></div>
    {{/if}}

  </div>
</div>
