<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile ads">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Мои объявления</span>
  </div>
  <div class="page">

    <div class="btns-section">
      <button type="button" class="btn btn-default add-new-ad">Добавить объявление <span class="ion-ios-plus-outline"></span></button>
      <button type="button" class="btn btn-default go-to-archive" disabled>Архив <span class="ion-filing"></span></button>
    </div>

    <div class="ads-list">

      <div class="ad-item">
        <div class="photo"><span class="ion-image"></span></div>
        <div class="content">
          <div class="ad-title">Заголовок объявления</div>
          <div class="ad-description">Текст объявления Текст объявления Текст объявления Текст объявления</div>
        </div>
        <div class="i-bottom name">1</div>
        <div class="i-bottom location">2</div>
        <div class="i-bottom date">3</div>
        <div class="icon ion-ios-star-outline star"></div>
        <div class="icon ion-ios-browsers-outline tab"></div>
        <div class="icon ion-chevron-down arrow down"></div>
      </div>

    </div>


  </div>



</div>
