<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile ads">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Мои объявления</span>
  </div>
  <div class="page">

    <div class="btns-section">
      <button type="button" class="btn btn-default add-button">Добавить объявление <span class="ion-ios-plus-outline"></span></button>
      <button type="button" class="btn btn-default go-to-archive" disabled>Архив <span class="ion-filing"></span></button>
    </div>

    <div class="ads-list">

      <div class="ad-item">
        <div class="section1">
          <div class="photo"><span class="ion-image"></span></div>
          <div class="content">
            <div class="ad-title">Заголовок объявления</div>
            <div class="ad-description">Текст объявления Текст объявления Текст объявления Текст объявления</div>
          </div>
        </div>
        <div class="section2">
          Section 2
        </div>
        <div class="i-bottom">
          <span class="name"><i class="ion-ios-briefcase-outline"></i><span>ООО "Компаныв Тест"</span></span>
          <span class="location"><i class="ion-ios-location-outline"></i><span>Минск, Беларусь</span></span>
          <span class="date"><i class="ion-ios-calendar-outline"></i><span>20.07.2017</span></span>
        </div>
        <div class="icon ion-ios-star-outline star"></div>
        <div class="icon ion-ios-browsers-outline tab"></div>
        <div class="icon ion-chevron-down arrow"></div>
      </div>




      <div class="ad-item expanded">
        <div class="section1">
          <div class="photo"><span class="ion-image"></span></div>
          <div class="content">
            <div class="ad-title">Заголовок объявления</div>
            <div class="ad-description">Текст объявления Текст объявления Текст объявления Текст объявления</div>
          </div>
        </div>
        <div class="section2">
          Section 2
        </div>
        <div class="i-bottom">
          <span class="name"><i class="ion-ios-briefcase-outline"></i><span>ООО "Компания"</span></span>
          <span class="location"><i class="ion-ios-location-outline"></i><span>Минск, Беларусь</span></span>
          <span class="date"><i class="ion-ios-calendar-outline"></i><span>20.07.2017</span></span>
        </div>
        <div class="icon ion-ios-star-outline star"></div>
        <div class="icon ion-ios-browsers-outline tab"></div>
        <div class="icon ion-chevron-down arrow"></div>
      </div>

    </div>


  </div>



</div>
