<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="main-content ads">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Мои объявления</span>
  </div>
  <div class="page">
    <div class="btns-section">
      <button type="button" class="btn btn-default pull-left add-button">Добавить объявление <span class="ion-ios-plus-outline"></span></button>
      <button type="button" class="btn btn-default" disabled>Избранное <span class="icon ion-ios-star-outline star"></span></button>
      <button type="button" class="btn btn-default go-to-archive" disabled>Архив <span class="ion-filing"></span></button>
    </div>

    <div class="ads-list"></div>

  </div>
</div>
