<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->

<div class="profile ads">
  <div class="title">
    <span class="icon ion-clipboard"></span>
    <span class="title-text">Мои объявления</span>
  </div>
  <div class="page">

    <div class="bts-section">
      <button type="button" class="btn btn-default add-new-ad">Добавить объявление <span class="ion-ios-plus-outline"></span></button>
      <button type="button" class="btn btn-default go-to-archive" disabled>Архив <span class="ion-filing"></span></button>
    </div>

    <div class="ads-list">

      <div class="ad-item">
        <div class="photo"><span class="ion-image"></span></div>
        <div class="content">
          <div class="ad-title">Заголовок объявления</div>
          <div class="ad-description">Текст объявления Текст объявления Текст объявления Текст объявления</div>
        </div>
        <div class="ad-actions">
          <span class="ion-ios-star-outline"></span>
          <span class="icon ion-bookmark"></span>
          <span class="icon ion-bookmark"></span>
        </div>
      </div>

    </div>


  </div>



</div>
