<div class="container calc">
  <h2><span class="icon ion-ios-calculator"></span> Калькулятор</h2>

  <div class="tri-down">
    <form>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="form-group">
            <label class="sr-only" for="tolshina">Толщина</label>
            <div class="input-group size-field">
              <div class="input-group-addon">Т</div>
              <input type="number" class="form-control" id="tolshina" name="tolshina" placeholder="Толщина">
              <div class="input-group-addon">мм</div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="shirina">Ширина</label>
            <div class="input-group size-field">
              <div class="input-group-addon">Ш</div>
              <input type="number" class="form-control" id="shirina" name="shirina" placeholder="Ширина">
              <div class="input-group-addon">мм</div>
            </div>
          </div>
          <div class="form-group size-field">
            <label class="sr-only" for="dlina">Длина</label>
            <div class="input-group">
              <div class="input-group-addon">Д</div>
              <input type="number" class="form-control" id="dlina" name="dlina" placeholder="Длина">
              <div class="input-group-addon">мм</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="result-one"><span>V</span> = <span id="volume">{{volume}}</span> м<sup><small>3</small></sup></div>
          <div class="result-one"><span>S</span> = <span id="square">{{square}}</span> м<sup><small>2</small></sup></div>
        </div>
      </div>
      <div class="count-block">
        <div class="form-group count-field">
          <label class="sr-only" for="count">Количество</label>
          <div class="input-group">
            <input type="number" class="form-control" id="count" name="count" placeholder="Количество">
            <div class="input-group-addon">шт</div>
          </div>
        </div>
      </div>
      <div class="result">Общий объем = <span class="result-v">{{resultV}}</span> м<sup><small>3</small></sup></div>
      <div class="result">Погонная длина = <span class="result-p">{{resultP}}</span> м</div>
    </form>
  </div>
  <!-- Add to table button-->
  <button type="button" class="btn add-to-table" disabled><span class="ion-clipboard"></span> Вставить в таблицу</button>

  <table class="table table-hover table-responsive">
    <thead>
    <tr>
      <th>ТxШxД (мм)</th>
      <th>Кол-во (шт.)</th>
      <th>Погонная длина (м)</th>
      <th>Объем (м<sup><small>3</small></sup>)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>50x100x5000</th>
      <td>100</td>
      <td>256</td>
      <td>34</td>
      <td>
        <a class="remove-row"><span class="ion-ios-close-outline"></span></a>
      </td>
    </tr>
    <tr>
      <td>50x100x5000</th>
      <td>100</td>
      <td>256</td>
      <td>34</td>
      <td>
        <a class="remove-row"><span class="ion-ios-close-outline"></span></a>
      </td>
    </tr>
    <tr class="total">
      <td>Итого:</th>
      <td>15500</td>
      <td>2342</td>
      <td>234234</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="actions">
    <button type="button" class="btn btn-success"><span class="ion-help"></span> Узнать цены</button>
    <!--<button type="button" class="btn btn-success">Сохранить</button>-->
    <button type="button" class="btn btn-info"><span class="ion-paper-airplane"></span> Отправить на e-mail</button>
    <button type="button" class="btn btn-info"><span class="ion-printer"></span> Печать</button>

    <button type="button" class="btn btn-danger pull-right">Удалить все</button>
  </div>

</div>
