{{>leftNavigation dashboard=true}}

<div class="profile settings">
  <div class="title">
    <span class="icon ion-person"></span>
    <span class="title-text">Мой кабинет</span>
  </div>
  <div class="page">

    dashboard

  </div>



</div>
