<div class="container faq">

  <h2>FAQ - часто задаваемые вопросы</h2>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. Что это за сервис и для кого он?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Lignum.by – это сервис, предназначенный для людей которые связаны с древесной продукцией,
          а так же для тех кто работает в деревообрабатывающей сфере и дереводобывающей промышленности.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. Для чего нужно проходить регистрацию?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Зарегистрированным пользователям предоставляется больше возможностей:
          <ul>
            <li>доступ в личный кабинет;</li>
            <li>возможность добавлять свои объявления и компании;</li>
            <li>сохранять понравившиеся объявления и компании в раздел «Избранное»;</li>
            <li>получать и отправлять сообщения;</li>
            <li>и некоторые другие.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3. Могу ли я добавить объявление, не регистрируясь?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Нет, чтобы добавить свое объявление, необходимо пройти регистрацию.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading4">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
            4. Видны ли мне все объявления, если я не зарегистрирован(а)?
          </a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
        <div class="panel-body">
          Да. Все объявления доступны для просмотра как зарегистрированным, так и незарегистрированным пользователям.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading5">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
            5. Я прошел регистрацию, но мне на почту не пришло письмо с ссылкой на активацию.
          </a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
        <div class="panel-body">
          В первую очередь проверьте папку «Спам». Если письмо действительно не пришло, напишите о своей проблеме в техподдержку.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading6">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
            6.	Как мне зайти в личный кабинет?
          </a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
        <div class="panel-body">
          Если Вы уже зарегистрированы, то нажмите кнопку «Войти» в правом верхнем углу на главной странице.
          Если Вы новый пользователь, пройдите регистрацию, нажав на кнопку «Регистрация» в правом верхнем углу на главной странице.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading7">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
            7.	Что делать, если забыл пароль?
          </a>
        </h4>
      </div>
      <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
        <div class="panel-body">
          Если Вы забыли пароль, нажмите на ссылку <a>Забыли пароль?</a>, расположенную в окне входа под полем пароля.
          Вам на почту будет отправлено письмо с Вашим паролем.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading8">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
          8. Что я могу делать в личном кабинете?
        </a>
      </h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
      <div class="panel-body">
        В Личном кабинете можно:
        <ul>
          <li>просматривать, редактировать свои объявления и создавать новые (Личный кабинет > Объявления);</li>
          <li>создавать, просматривать и редактировать профиль компании (Личный кабинет > Компании);</li>
          <li>просматривать сообщения, полученные от других пользователей (Личный кабинет > Сообщения);</li>
          <li>просматривать объявления и компании других пользователей, которые Вы отметили и сохранили как понравившиеся (Личный кабинет > Избранное)</li>
          <li>изменять настройки профиля (Личный кабинет > Настройки профиля) и аккаунта (Личный кабинет > Настройки аккаунта)</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading9">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
            9. Для чего нужен раздел «Избранное»?
          </a>
        </h4>
      </div>
      <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
        <div class="panel-body">
          В разделе «Избранное» хранятся отмеченные Вами объявления и компании, которые Вы сохранили для дальнейшего просмотра и использования
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading10">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
            10.	Какие объявления попадают в «Архив»?
          </a>
        </h4>
      </div>
      <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
        <div class="panel-body">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading11">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
            11.	Как мне добавить объявление?
          </a>
        </h4>
      </div>
      <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
        <div class="panel-body">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading12">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
            12.	Как мне добавить компанию?
          </a>
        </h4>
      </div>
      <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
        <div class="panel-body">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading13">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
            13.	При добавлении объявления обязательно ли заполнять все поля?
          </a>
        </h4>
      </div>
      <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
        <div class="panel-body">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading14">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
            14.	Как мне продлить срок размещения объявления?
          </a>
        </h4>
      </div>
      <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
        <div class="panel-body">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading15">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
            15.	Что делать если я нашел ошибку?
          </a>
        </h4>
      </div>
      <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>



</div>
