<div class="actions">
  <button type="button" class="btn btn-default btn-lg disabled">Добавить объявление</button>
</div>
<div class="filters hidden-xs hidden-sm">
  <a class="close-btn visible-xs visible-sm"><span class="ion-close"></span></a>
  <div class="checkbox">
    <label><input type="checkbox" value="">Спрос</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Предложение</label>
  </div>
  <div class="line-breaker"></div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Товар</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Услуга</label>
  </div>
  <div class="line-breaker"></div>
  <div class="form-group">
    <select class="form-control">
      <option>Выбрать категорию</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="line-breaker"></div>
  <div class="form-group">
    <select class="form-control">
      <option>Страна</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control">
      <option>Город</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="line-breaker"></div>
  <div class="form-group">
    <button type="button" class="btn btn-default disabled">Сбросить фильтр <span class="ion-refresh"></span></button>
  </div>
</div>