<div class="actions">
  <button type="button" class="btn btn-default add-new">Добавить объявление <span class="ion-ios-plus-outline"></span></button>
</div>
<div class="filters-wrapper hidden-xs hidden-sm">
  <a class="close-btn visible-xs visible-sm"><span class="ion-close"></span></a>
  <div class="checkbox">
    <label><input type="checkbox" name="type" value="buy">Куплю</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="type" value="sell">Продам</label>
  </div>
  <div class="line-breaker"></div>
  <div class="checkbox">
    <label><input type="checkbox" name="object" value="product">Товар</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="object" value="service">Услуга</label>
  </div>
  <div class="line-breaker"></div>
  <div class="form-group">
    <label for="category">Раздел</label>
    <select class="form-control" id="category" name="category">
      <option value="">&mdash;</option>
      {{#each categories}}
        <option value="{{id}}">{{title}}</option>
      {{/each}}
    </select>
  </div>

  <div class="filters"></div>

  <div class="line-breaker"></div>

  <div class="country-picker-label">Местоположение</div>
  <div class="country-picker"></div>

  <div class="line-breaker"></div>
  <div class="form-group">
    <button type="button" class="btn btn-default drop-filter">Сбросить фильтр <span class="ion-loop"></span></button>
  </div>
</div>
<div class="show-mobile-filters visible-xs visible-sm">
  <span class="ion-arrow-down-b"></span>
</div>