<div class="forbidden">
  <div class="ion-ios-locked icon"></div>
  <h2>Вы не авторизованы.</h2>
  <button type="button" class="btn btn-default login">Вход</button>
  <button type="button" class="btn btn-default register">Регистрация</button>
</div>
