<div class="row header-wrapper">
  <!-- Logo -->
  <div class="col-md-3 logo">
    <a href="/">BRD</a>
  </div>
  <!-- /end logo -->
  <!-- Navigation -->
  <nav class="col-md-9 navigation hidden">
    <ul>
      <li><a class="home-link">Главная</a></li>
      <li><a>Компании</a></li>
      <li><a>FAQ</a></li>
      <li>
        {{#if user}}

          <div class="user">
            <div class="border">
              <i class="ion-person"></i>
            </div>
            {{this.user.name}}

            <span class="ion-android-exit logout"></span>
          </div>

        {{else}}
          <button type="button" class="btn btn-default registration">Регистрация</button>
          <button type="button" class="btn btn-success login">Войти</button>
        {{/if}}
      </li>
    </ul>
  </nav>
  <!-- /end navigation -->
</div>
<div class="hamburger visible-xs">
  <span class="ion-navicon"></span>
</div>

<div class="modal-section"></div>