
  <div class="row gradient">
    <!-- Logo -->
    <div class="col-md-3 logo">
      <a href="/">BRD.by</a>
    </div>
    <!-- /end logo -->
    <!-- Navigation -->
    <nav class="col-md-9 navigation hidden">
      <ul>
        <li><a class="active">Главная</a></li>
        <li><a>Каталог</a></li>
        <li><a>Информация</a></li>
        <li>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#registration">Регистрация</button>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#login">Войти</button>
        </li>
      </ul>
      <div class="languages">
        <span class="flag eng"></span>
        <span class="flag bel"></span>
      </div>
    </nav>
    <!-- /end navigation -->
  </div>
  <div class="hamburger visible-xs">
    <span class="ion-navicon"></span>
  </div>
