<!-- Filter -->
<div class="col-md-3 filter-home"></div>
<!-- /end filter -->

<div class="col-md-7 ads">
  <div class="content-filter">
    <div class="btn-group mobile-filter-btn visible-xs visible-sm" role="group" aria-label="First group">
      <button type="button" class="btn btn-default"><span class="ion-android-options"></span></button>
    </div>
    <div class="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Искать">
        <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="ion-search"></span></button>
            </span>
      </div><!-- /input-group -->
    </div>
  </div>

  <!-- Ads list  -->
  <div class="ads-list">
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
  </div>
  <!-- /end ads-list -->

</div>

<div class="col-md-2">
  <div class="rside">
    {{title}}
  </div>
</div>