<!-- Filter -->
<div class="col-md-3 col-lg-3 filter-home"></div>
<!-- /end filter -->

<div class="col-md-9 col-lg-7 ads">
  <div class="content-filter">
    <div class="btn-group mobile-filter-btn visible-xs visible-sm" role="group" aria-label="First group">
      <button type="button" class="btn btn-default"><span class="ion-android-options"></span></button>
    </div>
    <div class="search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Искать">
        <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="ion-search"></span></button>
            </span>
      </div><!-- /input-group -->
    </div>
  </div>

  <!-- Ads list  -->
  <div class="ads-list"></div>
  <!-- /end ads-list -->

  <div class="row m-t-2">
    <div class="col-xs-11">
      <button class="btn btn-default center-block" type="button">Показать еще 20</button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-default pull-right up" type="button"><span class="ion-android-arrow-up"></span></button>
    </div>
  </div>

</div>

<div class=" col-lg-2 rside">

</div>