<!-- Header -->
<header class="container-fluid"></header>
<!-- /end header -->

<section class="container-fluid section home-banner"></section>

<!-- Main content -->
<section class="container-fluid section home">
  <div class="row home-wrapper content">
  </div>
</section>
<!-- /end main content -->

<!-- Footer -->
<footer class="footer"></footer>
<!-- /end Footer  -->