<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->


<div class="profile settings">
  <div class="title">
    <span class="icon ion-settings"></span>
    <span class="title-text">Настройки</span>
  </div>
  <div class="page">

    <form>
      <div class="form-group short">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="example@mail.com" disabled>
      </div>
      <div class="form-group short">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="********" disabled>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Фотография</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="firstname">Имя</label>
          <input type="text" class="form-control" id="firstname" placeholder="Имя">
        </div>
        <div class="col-md-4">
          <label for="secondname">Фамилия</label>
          <input type="text" class="form-control" id="secondname" placeholder="Фамилия">
        </div>
        <div class="col-md-4">
          <label for="lastname">Отчество</label>
          <input type="text" class="form-control" id="lastname" placeholder="Отчество">
        </div>
      </div>
      <div class="form-group short">
        <label for="tel1">Телефон</label>
        <input type="text" class="form-control" id="tel1" placeholder="+375 00 0000000" >
      </div>

      <button type="submit" class="btn btn-default save">Сохранить</button>
    </form>

  </div>



</div>
