<!--  left-navigation -->
<div class="left-navigation"></div>
<!-- /end  left-navigation -->
<div class="profile settings">
  <div class="title">
    <span class="icon ion-settings"></span>
    <span class="title-text">Настройки</span>
  </div>
  <div class="tabs">
    <div class="tab profile-settings-link">Настройки профиля</div>
    <div class="tab account-settings-link">Настройки аккаунта</div>
  </div>
  <!--  page (inner sections comes here) -->
  <div class="page"></div>
  <!-- /end  page -->
</div>
